<form class="profile-form">
    <md-input-container>
      <input mdInput placeholder="First name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Long Last Name That Will Be Truncated">
    </md-input-container>
    <md-input-container class="example-full-width">
        <input mdInput placeholder="email" type="email">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="City">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput maxlength="2" placeholder="State">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput #postalCode maxlength="5" placeholder="Postal Code">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
  </md-input-container>
  <div>
      <p>Front End Technologies(Check All That Apply):</p>
      <ul>
          <li *ngFor="let tech of technologies.frontEnd">
              <md-checkbox>
                  {{ tech }}
              </md-checkbox>
          </li>
      </ul>
      <p>Back End Technologies(Check All That Apply):</p>
      <ul>
          <li *ngFor="let tech of technologies.backEnd">
              <md-checkbox>
                  {{ tech }}
              </md-checkbox>
          </li>
      </ul>
      <p>Mobile Technologies(Check All That Apply):</p>
      <ul>
          <li *ngFor="let tech of technologies.mobile">
              <md-checkbox>
                  {{ tech }}
              </md-checkbox>
          </li>
      </ul>
      <p>Terminal Technologies(Check All That Apply):</p>
      <ul>
          <li *ngFor="let tech of technologies.terminal">
              <md-checkbox>
                  {{ tech }}
              </md-checkbox>
          </li>
      </ul>
  </div>
</form>
