// .card-image {
//     height: auto;
//     width: 6%;
//     // flex-shrink: 0;
// }

// md-card-title, md-card-subtitle {
//     float: right;
// }

md-card {
    width: 40%;
    display: inline-grid;
}

.card-wrapper {
    margin: 0 2.5rem;
}
