<div class="card-wrapper">
    <md-card *ngFor="let profile of profiles" class="example-card">
        <md-card-header>
            <div md-card-avatar [ngStyle]="{'background-image': 'url(' + getAssetUrl(profile.image) + ')', 'background-size': 'cover'}" class="example-header-image">
            </div>
            <md-card-title>{{ profile.name }}</md-card-title>
            <md-card-subtitle>{{profile.cohort}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <p>Technologies:</p>
            <ul>
                <li class="text">{{profile.skills}}</li>
            </ul>
        </md-card-content>
        <md-card-actions>
            <button md-button>Contact</button>
        </md-card-actions>
    </md-card>
</div>
